<!-- <div class="mt-16 border-t border-white/10 py-10 sm:mt-20 lg:mt-24"> -->
<div class="flex gap-x-6 py-8 justify-between">
    <div class="flex-auto">
        <p class="text-sm/6 text-gray-400 text-start">&copy; {{ now.Year }}. All rights reserved.</p>
    </div>
    <div class="flex-auto">
        <p class="text-sm/6 text-gray-400 text-center"><a class="underline"
                href="https://github/arrrrrmin/lanz-mining">lanz-mining</a> on GitHub </p>
    </div>
    <div class="flex-auto">
        <p class="text-sm/6 text-gray-400 text-end">Hosted on asteroids with <a class="underline"
                href="https://uberspace.de">uberspace</a></p>
    </div>
</div>