<header class="lg:flex lg:items-center lg:justify-between py-10">
    <div class="min-w-0 flex-1">
        <h1 class="text-2xl/7 font-bold text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><a href="/">{{ site.Title }}</a></h1>
    </div>
    <div class="mt-5 flex lg:ml-4 lg:mt-0">
        <div
            class="no-scrollbar hidden max-w-40 items-center space-x-4 overflow-x-auto sm:flex sm:space-x-6 md:max-w-72 lg:max-w-96">
            {{ partial "menu.html" . }}
        </div>
    </div>
    </div>
</header>