{{ define "main" }}
{{/*
{{ range site.RegularPages }}
<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
{{ .Summary }}
{{ end }}
*/}}
<div class="py-4">
  <p class="text-base text-justify text-gray-800">
    Auch schon oft gedacht: <i>Die Person ist aber ständig bei Lanz!</i>? Hier kannst du das Gefühl mit den Fakten
    abgleichen.
    Lanz-Mining ist ein kleiner Service der dir hilft deine Vermutung mit realen Daten abzugleichen.
    Mit gesammelten Daten aus der Mediathek kann man nachsehen, wer,
    welche Parteien oder welche Medienhäuser bei Lanz sitzen.
    Aus Platzgründen werden hier nur die Top 16 nach Auftritten angezeigt.
  </p>
</div>
<div id="greetingsVis" class="pt-4 pb-8">
  <div class="flex flex-col xs:flex-row justify-between">
    <span class="isolate inline-flex roundd-md shadow-sm">
      <button type="button" value="gäste" id="greeting-vis-button"
        class="relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
        Top Gäste
      </button>
      <button type="button" value="parteien" id="greeting-vis-button"
        class="relative -ml-px inline-flex items-center bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
        Top Parteien
      </button>
      <button type="button" value="medien" id="greeting-vis-button"
        class="relative -ml-px inline-flex items-center bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
        Top Medien
      </button>
      <button type="button" value="genres" id="greeting-vis-button"
        class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
        Top Genres
      </button>
    </span>
    <div class="relative inline-block text-right">
      <div>
        <button type="button"
          class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          id="greetings-vis-option-button" aria-expanded="true" aria-haspopup="true">
          <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            data-slot="icon">
            <path fill-rule="evenodd"
              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd" />
          </svg>
          Jahr
        </button>
      </div>
      <div id="greetings-vis-options-div"
        class="absolute right-0 z-10 mt-2 origin-top-right rounded-sm bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
        style="display: none;" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div id="greetings-vis-option-list" class="py-1">
          <!-- Active: "bg-gray-100 text-gray-900 outline-none", Not Active: "text-gray-700" -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-8">
  <p class="text-base text-justify text-gray-800">
    Warum ein Genre? Bei Lanz werden viele unterschiedliche Menschen in verschiedenen Rollen eingeladen. Damit das Ganze
    visualisierbar
    wird, werden die
    Rollen, die den Gästen einer Sendung zugeschrieben werden, zu <i>Genren</i> zusammengefasst. So gewinnt man eine
    bessere
    Übersicht über die Rollen, in denen die Gäste eingeladen sind. Die <i>Circle Packing</i>-Visualisierung zeigt die
    Größe der Cluster
    basierend darauf, wie oft eine Rolle für eine Person vergeben wurde. Nicht wundern, Gäste können in
    unterschiedlichen Rollen zu unterschiedlichen Sendungen eingeladen worden sein.
  </p>
</div>
<div id="genreVis" class="py-2 rounded-sm border-gray-400 border"></div>
<div class="py-8">
  <p class="text-base text-justify text-gray-800">
    Wenn man weiter in die Daten hinein schaut, gibt es dort auch Beschreibungen zu jeder geladenen Person.
    In dieser Beschreibung, wir die Person kurz vorgestellt und wozu sie sich äußern möchte.
    Dabei merkt man schnell das das Wort <i>Expert*in</i> häufig auftritt. Also kann man auch das analysieren.
    Expert*innen werden einem Thema zugeordnet, je nach Erwähnung Expert*in, auch hier kann eine Person über die Zeit
    für mehr als nur ein Thema geladen werden. 
  </p>
</div>
<div id="expertsVis" class="py-2 rounded-sm bg-whgite"></div>
<div class="py-8">
  <p class="text-base text-justify text-gray-800">
    Die Visualisualisierung der Expert*innen pro Themngebiet, ist beschränkt auf die Top 20, sonst wird das Ganze zu lang und unübersichtlich.
    Funfakt an dieser Stelle, der Award als Expert*in der der Expert*innen, wird zur Zeit von <b>Sascha Lobo</b> gehalten. 
    Er hat die meisten Themengebiete abgedenkt. 
  </p>
</div>
<div class="pt-8">
  <p class="text-base text-justify text-gray-800">
    Das Projekt ist auf <a href="https://github.com/arrrrrmin/lanz-mining" class="underline">GitHub</a> verfügbar, würde
    mich also über Ideen oder
    Erweiterungen freuen. Sonstige Kommentare gerne auf mastodon <a href="https://chaos.social/@arrrrrmin"
      class="underline">@arrrrrmin@chaos.social</a>.
  </p>
</div>
{{ end }}